<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css">
    <title>{% block title %}{% endblock %}</title>
    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }

        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }
        
        img {
            margin: 0 5px 5px 0;
        }
    </style>
</head>

<body>
    <article class="markdown-body">
        <p align="center">
            <a href="{{ url_for('home') }}"><img src="logo.png"></a><br>
            <img src="https://img.shields.io/github/workflow/status/w-henderson/ChromaQR/ChromaQR-Tests?style=for-the-badge">
            <img src="https://img.shields.io/badge/python-3-blue?style=for-the-badge&logo=python">
            <img src="https://img.shields.io/badge/license-MIT-green?style=for-the-badge">
            <img src="https://img.shields.io/badge/colour-chroma-red?style=for-the-badge"><br>
            <a href="{{ url_for('home') }}">Home</a> &bull; <a href="{{ url_for('demo') }}">API Demo</a> &bull; <a href="https://github.com/w-henderson/ChromaQR">GitHub</a>
        </p>
        
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
    </article>
</body>

</html>